<!--template/package/maintenance-en.html start-->

{%- block maintenance_block -%}
<!-- 
<br><br>
<section class="alert alert-warning">
	 <h2>Maintenance on the Open data and information Portal</h2>
	 <p>Please note that the portal will be unavailable for scheduled maintenance at the times listed below. We apologize for any inconvenience.</p>
	 <ul>
		<li>Monday, May 4 at 7 p.m. to Friday, May 8, 2026, at 4 p.m. (Eastern Time)</li>
	</ul>
</section>
-->
{% endblock %}

<!--template/package//maintenance-en.html end-->
