<!--template/package/maintenance-fr.html start-->

{%- block maintenance_block -%}
<!--
<br><br>
<section class="alert alert-warning">
	 <h2>Entretien du portail de données et informations ouvertes</h2>
	 <p>Veuillez noter que le portail ne sera pas disponible pendant la fenêtre d’entretien planifié aux heures indiquées ci-dessous. Nous nous excusons pour tout inconvénient. </p>
	 <ul>
		<li>Du lundi 4 mai à 7 h au vendredi 8 mai 2026 à 16 h (heure de l’Est).</li>
	</ul>
</section>
-->
{% endblock %}

<!--template/package//maintenance-fr.html end-->
