{% ckan_extends %}

{% block secondary_content %}
 <!--template/package/search.html start-->
  <aside class="mrgn-tp-lg">
    <div>
   <h5 style="padding-left: 12px; padding-right: 12px; padding-top: 12px; padding-bottom: 12px;"> <a href="{{ h.url_for(controller='package', action='search', q=c.q) }}" class="btn btn-default mrgn-bttm-md btn-block"><span class="glyphicon glyphicon-refresh"></span>{{ _(' Clear filters') }}</a>
   </h5>
  </div>
{% snippet 'snippets/dataset_facets.html',
  organization_facet=h.snippet(
    'snippets/facet_list.html', title=c.facet_titles['organization'],
    name='organization') %}

{% block extra_facets %}

{% endblock %}

</aside>


<!--template/package/search.html end-->



{% endblock %}

{% block form %}
  {% set facets = {
    'fields': c.fields_grouped,
    'search': c.search_facets,
    'titles': c.facet_titles,
    'translated_fields': c.translated_fields,
    'remove_field': c.remove_field }
  %}
  {% set sorting = [
    (_('Relevance'), 'score desc, metadata_modified desc'),
    (_('Name Ascending'), 'title_string asc'),
    (_('Name Descending'), 'title_string desc'),
    (_('Last Modified'), 'metadata_modified desc'),
    (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
  %}
  {% snippet 'snippets/search_form.html', form_id='dataset-search-form', type=dataset_type, query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, placeholder=_('Search ' + dataset_type + 's') + '...', facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields %}
{% endblock %}
