{% ckan_extends %}

{% block secondary_content %}
<h2>{{ _('Search Filters') }}&nbsp;<small><a href="{{ h.url_for(controller='package', action='search', q=c.q) }}">{{ _('Clear All') }}</a></small></h2>

{% snippet 'snippets/dataset_facets.html',
  organization_facet=h.snippet(
    'snippets/facet_list.html', title=c.facet_titles['organization'],
    name='organization') %}

{% block extra_facets %}

{% endblock %}

{% set license = h.get_license('ca-ogl-lgo') %}
{% if license != None %}
<div class="well well-sm">
    {% if h.lang() == 'en' %}
      <a href="{{ license.url }}">View the {{ license.title }}</a>
    {% else %}
      <a href="{{ license.url_fra }}">Voir la {{
        license.title_fra[:1].lower() }}{{ license.title_fra[1:] }}</a>
    {% endif %}
</div>
{% endif %}

<!-- <div class="filters">
  <div>
    {% for facet in c.facet_titles %}
      {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, search_facets=search_facets) }}
    {% endfor %}
  </div>
  <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
</div> -->
{% endblock %}