{% ckan_extends %}
{% set pkg = c.pkg_dict %}
{% set res = c.resource %}

{% block page_header_block %}
  {% if not pkg %}
    {%if h.lang()=='en'%}
      <h1>CSA Open Government Portal</h1>
    {%else%}
      <h1>Portail du gouvernement ouvert de l'ASC</h1>
    {%endif%}
  {% endif %}
{% endblock %}

{% block main_search_role %}role="main"{% endblock %}

{% block secondary_content %}
 <!--template/package/search.html start-->
  <aside class="mrgn-tp-lg">
    <div>
   <h2 style="padding-left: 12px; padding-right: 12px; padding-top: 12px; padding-bottom: 12px;"> <a href="{{ h.url_for(controller='package', action='search', q=c.q) }}" class="btn btn-default mrgn-bttm-md btn-block"><span class="glyphicon glyphicon-refresh"></span>{{ _(' Clear filters') }}</a>
   </h2>
  </div>
{% snippet 'snippets/dataset_facets.html',
  organization_facet=h.snippet(
    'snippets/facet_list.html', title=c.facet_titles['organization'],
    name='organization') %}

{% block extra_facets %}

{% endblock %}

</aside>


<!--template/package/search.html end-->
{% endblock %}

{% block form %}
  {% set facets = {
    'fields': c.fields_grouped,
    'search': c.search_facets,
    'titles': c.facet_titles,
    'translated_fields': c.translated_fields,
    'remove_field': c.remove_field }
  %}

  {%- if h.lang()== 'fr'%}
  {% set sorting = [
    (_('Relevance'), 'score desc, metadata_modified desc'),
    (_('Name Ascending'), 'title_fr asc'),
    (_('Name Descending'), 'title_fr desc'),
    (_('Last Modified'), 'metadata_modified desc'),
    (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
  %}
  {% else %}
  {% set sorting = [
    (_('Relevance'), 'score desc, metadata_modified desc'),
    (_('Name Ascending'), 'title_string asc'),
    (_('Name Descending'), 'title_string desc'),
    (_('Last Modified'), 'metadata_modified desc'),
    (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
  %}

  {%endif%}
  {% snippet 'snippets/search_form.html', form_id='dataset-search-form', type=dataset_type, query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, placeholder=_('Search ' + dataset_type + 's') + '...', facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields %}
{% endblock %}



{% block package_search_results_api %}
<section class="module">
  <div class="module-content">
    {% block package_search_results_api_inner %}

      {% set api_link = h.link_to(_('API'), h.url_for(controller='api', action='get_api', ver=3)) %}
      {% set api_doc_link = h.link_to(_('API'), h.url_for("/API")) %}
      {% if g.dumps_url -%}
        {% set dump_link = h.link_to(_('full {format} dump').format(format=g.dumps_format), g.dumps_url) %}
        {% trans %}
          You can also access these datasets using the {{ api_doc_link }}) or download a {{ dump_link }}.
        {% endtrans %}
      {% else %}

        <h3>
        {%if h.lang()=='en'%}
          You can also access this registry using the {{ api_doc_link}}.

        {%else%}
        Vous pouvez également accéder à ces bases de données grâce à  l'{{ api_doc_link}}.
        {%endif%}
        </h3>

      {%- endif %}

    {% endblock %}
  </div>
</section>
{% endblock %}
