{% extends "package/base.html" %}


{% block primary_content %}
  <section class="module">
    <div class="module-content">

      <h1> API guide </h1>
      <h2>
        This page will give a quick explaination on how to use the API
        to access and download data from this website.
      </h2>

      <p> The Canadian space agency uses the open-source app name CKAN to  manage this webssite and its datasets. To interface with
      the CKAN API included in this app, you can use the example below.</p>
      <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fasc-csa%2FAlouette_extract%2Fblob%2Fmaster%2Fscan2data%2Fprocess_directory.py&style=github-gist&showBorder=on&showLineNumbers=on&showFileMeta=on"></script> </div>
  </section>


<p>
  For more information on the CKAN API, you can look at the CKAN documentation available <a href=https://docs.ckan.org/en/2.8/api/>here </a> </p>
{% endblock %}
{% block secondary_content %}
<div class="filters">
  <div>

  </div>
  <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
</div>
{% endblock %}
