{% extends "package/base.html" %}


{% block primary_content %}
  <section class="module">
    <div class="module-content">
      <h1>Titre de la page</h1>
      <h2>Courte explication de page</h2>

      <p> Explications avec codes exemple intégré ci-dessous</p>
      <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fasc-csa%2FAlouette_extract%2Fblob%2Fmaster%2Fscan2data%2Fprocess_directory.py&style=github-gist&showBorder=on&showLineNumbers=on&showFileMeta=on"></script> </div>
  </section>
{% endblock %}



{% block secondary_content %}
<div class="filters">
  <div>

  </div>
  <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
</div>
{% endblock %}
