{% extends "package/base.html" %}


{% block primary_content %}
  <section class="module">
    <div class="module-content">


      <h1> API guide </h1>
      <h3>
        This page will give a quick explaination on how to use the API
        to access and download data from this website.
      </h3>

      <p>
        The Canadian space agency uses the open-source app name CKAN to  manage this website and its datasets. To use the CKAN API, different examples
        in python are available. For example :
      </p>

<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fasc-csa%2Fckanext-asc-csa%2Fblob%2FAPI-page%2FHarvester_example.py&style=github-gist&showBorder=on&showLineNumbers=on&showFileMeta=on"></script>

      <h4>Other available resources on the CKAN API :</h4>
      <ul>
        <a href="#"></a>

        <a href="#"></a>

        <a href="#"></a>

        <a href="#"></a>
      </ul>

  </section>


<p>
  For more information on the CKAN API, you can look at the CKAN documentation available <a href=https://docs.ckan.org/en/2.8/api/>here </a> </p>
{% endblock %}


{% block secondary_content %}
<div class="filters">
  <div>

  </div>
  <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
</div>
{% endblock %}
