<!--
    Instructions
    Make a copy of this file, remove the '.example' extension and replace the contents with any html you would like to appear
    in the footer. This is intended for scripts such as analytic trackers.
-->