{% block footer %}
<!-- Static footer starts -->
<footer id="wb-info">
	<div class="landscape">
		<nav class="container wb-navcurr">
			<h2 class="wb-inv">{{ _('About government') }}</h2>
			<ul class="list-unstyled colcount-sm-2 colcount-md-3">
				<li><a href={{ _("https://www.canada.ca/en/contact.html") }}>{{ _("Contact us") }}</a></li>
				<li><a href={{ _("https://www.canada.ca/en/government/dept.html") }}>{{ _('Departments and agencies') }}</a></li>
				<li><a href={{ _("https://www.canada.ca/en/government/publicservice.html") }}>{{ _('Public service and military') }}</a></li>
				<li><a href={{ _("https://www.canada.ca/en/news.html") }}>{{ _('News') }}</a></li>
				<li><a href={{ _("https://www.canada.ca/en/government/system/laws.html") }}>{{ _('Treaties, laws and regulations') }}</a></li>
				<li><a href={{ _("https://www.canada.ca/en/transparency/reporting.html") }}>{{ _('Government-wide reporting') }}</a></li>
				<li><a href={{ _("https://pm.gc.ca/eng") }}>{{ _('Prime Minister') }}</a></li>
				<li><a href={{ _("https://www.canada.ca/en/government/system.html") }}>{{ _('How government works') }}</a></li>
				<li><a href={{ _("https://open.canada.ca/en/") }}>{{ _('Open government') }}</a></li>
			</ul>
		</nav>
	</div>
	<div class="brand">
		<div class="container">
			<div class="row">
				<nav class="col-md-9 col-lg-10 ftr-urlt-lnk">
					<h2 class="wb-inv">{{ _("About this site") }}</h2>
					<ul>
						<li><a href={{ _("https://www.canada.ca/en/social.html") }}>{{ _('Social media') }}</a></li>
						<li><a href={{ _("https://www.canada.ca/en/mobile.html") }}>{{ _('Mobile applications') }}</a></li>
						<li><a href={{ _("https://www1.canada.ca/en/newsite.html") }}>{{ _('About Canada.ca') }}</a></li>
						<li><a href={{ _("https://www.canada.ca/en/transparency/terms.html") }}>{{ _('Terms and conditions') }}</a></li>
						<li><a href={{ _("https://www.canada.ca/en/transparency/privacy.html") }}>{{ _('Privacy') }}</a></li>
					</ul>
				</nav>
				<div class="col-xs-6 visible-sm visible-xs tofpg"> <a href="#wb-cont">{{ _('Top of Page') }} <span class="glyphicon glyphicon-chevron-up"></span></a> </div>

				{% if h.lang() == 'fr' %}
				<div class="col-xs-6 col-md-3 col-lg-2 text-right"> <img src="/wmms-blk.svg" alt="Symbole du gouvernement du Canada"> </div>
				{% else %}
				<div class="col-xs-6 col-md-3 col-lg-2 text-right"> <img src="/wmms-blk.svg" alt="Symbol of the Government of Canada"> </div>
				{% endif %}

			</div>
		</div>
	</div>
</footer>

{% block footer_embeds %}
	{% if h.footer_embeds_exists() %}
		{% include "footer_embeds.html" %}
	{% endif %}
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
<script src="https://wet-boew.github.io/themes-dist/GCWeb/wet-boew/js/wet-boew.min.js"></script>
<script src="https://wet-boew.github.io/themes-dist/GCWeb/js/theme.min.js"></script>

<!--template/footer.html end-->
{% endblock %}
