{# {% ckan_extends %} #}
<!--template/header3.html start-->
<header>
	<div id="wb-bnr" class="container">
		<section id="wb-lng" class="col-xs-3 col-sm-12 pull-right text-right">
			<h2 class="wb-inv">Language selection</h2>
			<ul class="list-inline mrgn-bttm-0">
				<li>
					<a lang="fr" href="archived-fr.html">
						<span class="hidden-xs">Français</span>
						<abbr title="Français" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">fr</abbr>
					</a>
				</li>
			</ul>
		</section>
		<div class="row">
			<div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
				<a href="https://www.canada.ca/en.html" property="url">
					<img src="/sig-blk-en.svg" alt="" property="logo"><span class="wb-inv" property="name"> Government of Canada / <span lang="fr">Gouvernement du Canada</span></span>
				</a>
				<meta property="areaServed" typeof="Country" content="Canada">
				<link property="logo" href="/wmms-blk.svg">
			</div>
		</div>
	</div>
	<nav class="gcweb-menu" typeof="SiteNavigationElement">
		<div class="container">
			<h2 class="wb-inv">Menu</h2>
			<button type="button" aria-haspopup="true" aria-expanded="false"><span class="wb-inv">Main </span>Menu <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
			<ul role="menu" aria-orientation="vertical" data-ajax-replace="https://www.canada.ca/content/dam/canada/sitemenu/sitemenu-v2-en.html">
				<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/jobs.html">Jobs and the workplace</a></li>
				<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship</a></li>
				<li role="presentation"><a role="menuitem" href="https://travel.gc.ca/">Travel and tourism</a></li>
				<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/business.html">Business and industry</a></li>
				<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
				<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/health.html">Health</a></li>
				<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
				<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></li>
				<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/defence.html">National security and defence</a></li>
				<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></li>
				<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></li>
				<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></li>
				<li role="presentation"><a role="menuitem" href="https://international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></li>
				<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/finance.html">Money and finances</a></li>
				<li role="presentation"><a role="menuitem" href="https://www.canada.ca/en/services/science.html">Science and innovation</a></li>
			</ul>
		</div>
	</nav>
	<nav id="wb-bc" property="breadcrumb">
		<h2>You are here:</h2>
		<div class="container">
			<ol class="breadcrumb">
				<li><a href="https://www.canada.ca/en.html">Canada.ca</a></li>
				<li><a href="https://www.canada.ca/en.html">Departments and Organizations</a></li>
				<li><a href="https://www.canada.ca/en.html">Canadian Space Agency</a></li>
				<li><a href="https://www.canada.ca/en.html">Open Data</a></li>
			</ol>
		</div>
	</nav>
</header>
<!--template/header3.html end-->
