{# {% ckan_extends %} #}
{% block styles %}


<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expériencse-search-boxce Web (BOEW)
		wet-boew.github.io/wet-boew/License-en_(.html / wet-boew.github.io/wet-boew/Licence-fr.html -->

{% block header_embeds %}
	{% if h.header_embeds_exists() %}
		{% include "header_embeds.html" %}
	{% endif %}
{% endblock %}

<header style="background-color: white;">
	<div id="wb-bnr" class="container">
		<div class="row">
			<section id="wb-lng" class="col-xs-3 col-sm-12 pull-right text-right">
				<h2 class="wb-inv">{{ _("Language selection") }}</h2>

					{% block footer_lang %} {% snippet "snippets/language_selector.html" %} {% endblock %}  <!-- add ckan translate button here-->

			{% if h.lang() == 'fr' %}
			<div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" resource="#wb-publisher" typeof="GovernmentOrganization">
				<a href= {{ _('https://www.canada.ca/en.html') }} property="url">
					<img src="/sig-blk-fr.svg" alt="" property="logo"><span class="wb-inv" property="name"> Government of Canada / <span lang="fr">Gouvernement du Canada</span></span>
				</a>
				<meta property="areaServed" typeof="Country" content="Canada">
				<link property="logo" href="/wmms-blk.svg">
			</div>

			{% else %}
			<div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" resource="#wb-publisher" typeof="GovernmentOrganization">
				<a href= {{ _('https://www.canada.ca/en.html') }} property="url">
					<img src="/sig-blk-en.svg" alt="" property="logo"><span class="wb-inv" property="name"> Government of Canada / <span lang="fr">Gouvernement du Canada</span></span>
				</a>
				<meta property="areaServed" typeof="Country" content="Canada">
				<link property="logo" href="/wmms-blk.svg">
			</div>
			{% endif %}

			<section id="wb-srch" class="col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-12 col-sm-5 col-md-4">
				<h2>{{ _("Search Canada.ca") }}</h2>
				<form action={{ _("https://www.canada.ca/en/sr/srb.html") }} method="post" name="cse-search-box" role="search">
					<div class="form-group wb-srch-qry">
						<label for="wb-srch-q" class="wb-inv">{{ _("Search Canada.ca") }}</label>


						{% if h.lang() == 'fr' %}
						<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder= "Rechercher dans Canada.ca">
						{% else %}
						<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder= "Search Canada.ca">
						{% endif %}


						<datalist id="wb-srch-q-ac">
						</datalist>
					</div>
					<div class="form-group submit">
						<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">{{ _("Search Canada.ca") }}</span></button>
					</div>
				</form>
			</section>
		</div>
	</div>
	<nav class="gcweb-menu" typeof="SiteNavigationElement">
		<div class="container">
			<h2 class="wb-inv">{{ _("Menu") }}</h2>
			<button type="button" aria-haspopup="true" aria-expanded="false"><span class="wb-inv">{{ _("Main") }} </span>{{ _("Menu") }} <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
			<ul role="menu" aria-orientation="vertical" data-ajax-replace="https://www.canada.ca/content/dam/canada/sitemenu/sitemenu-v2-en.html">
				<li role="presentation"><a role="menuitem" href="{{ _("https://www.canada.ca/en/services/jobs.html") }}">{{ _("Jobs and the workplace") }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ _("https://www.canada.ca/en/services/immigration-citizenship.html") }}">{{ _("Immigration and citizenship") }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ _("https://travel.gc.ca/") }}">{{ _("Travel and tourism") }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ _("https://www.canada.ca/en/services/business.html") }}">{{ _("Business and industry") }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ _("https://www.canada.ca/en/services/benefits.html") }}">{{ _("Benefits") }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ _("https://www.canada.ca/en/services/health.html") }}">{{ _("Health") }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ _("https://www.canada.ca/en/services/taxes.html") }}">{{ _("Taxes") }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ _("https://www.canada.ca/en/services/environment.html") }}">{{ _("Environment and natural resources") }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ _("https://www.canada.ca/en/services/defence.html") }}">{{ _("National security and defence") }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ _("https://www.canada.ca/en/services/culture.html") }}">{{ _("Culture, history and sport") }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ _("https://www.canada.ca/en/services/policing.html") }}">{{ _("Policing, justice and emergencies") }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ _("https://www.canada.ca/en/services/transport.html") }}">{{ _("Transport and infrastructure") }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ _("https://www.international.gc.ca/world-monde/index.aspx?lang=eng") }}">{{ _("Canada and the world") }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ _("https://www.canada.ca/en/services/finance.html") }}">{{ _("Money and finances") }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ _("https://www.canada.ca/en/services/science.html") }}">{{ _("Science and innovation") }}</a></li>
			</ul>
		</div>
	</nav>
</header>
<!-- Static header ends -->
{% endblock %}
