{#
Displays a sidebard module with information for given package

pkg    - The package dict that owns the resources.

Example:

  {% snippet "package/snippets/info.html", pkg=pkg %}

#}
{% block package_info %}
  {% if pkg %}
  <!--template/package/snippets/info.html start-->
    <section class="module module-narrow">
      <div class="module context-info">
        <div class="module-content">
          {% block package_info_inner %}
            {% block heading %}
              <!-- <h3 class="heading">{{ h.dataset_display_name(pkg) }}</h3> -->
            {% endblock %}
            {% block nums %}


            {% endblock %}

          {% endblock %}
        </div>
      </div>
    </section>


  {% endif %}
  <!--template/package/info.html end-->
{% endblock %}
