{#
Renders a list of resources with icons and view links.

resources - A list of resources to render
pkg - A package object that the resources belong to.

Example:

  {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}

#}


{% block resource_list %}
<!--template/package/resource_list.html start-->
<br><br>
{% if resources %}

    {% set has_tutorials = resources | selectattr('is_tutorial', 'defined') | selectattr('is_tutorial', 'equalto', 'yes') | list | length > 0 %}
    {% set has_data_dictionaries = resources | selectattr('is_data_dictionary', 'defined') | selectattr('is_data_dictionary', 'equalto', 'yes') | list | length > 0 %}

    {% if pkg.resources %}
    {% block resource_list_inner %}
      <section>
        <table class="table table-striped resource-list">
          <caption class="wb-inv">{{_('Resource list table') }}</caption>
          <thead>
            <tr>
              <th scope="col" class="td-center-nowrap">{{ _('Resource name') }}</th>
              <th scope="col" class="td-center-nowrap">{{ _('Resource type') }}</th>
              <th scope="col" class="td-center-nowrap">{{ _('Format') }}</th>
              <th scope="col" class="td-center-nowrap">{{ _('Language') }}</th>
              <th scope="col" class="td-center-nowrap">{{ _('Links') }}</th>
            </tr>
          </thead>

        {% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
        {% for resource in resources %}
          {% if resource.get('is_tutorial') != 'yes' and resource.get('is_data_dictionary') != 'yes' %}
            {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource, res_num=loop.index, client_lang=client_lang, can_edit=can_edit %}
          {% endif %}
        {% endfor %}

        </table>
      </section>
    {% endblock %}
    {% endif %}

    {% if has_data_dictionaries %}
	  <br><br>
      <section class="mrgn-tp-lg">
        <table class="table table-striped resource-list">
          <caption class="wb-inv">{{ _('Data dictionary list table') }}</caption>
          <thead>
          <tr>
            <th scope="col" class="td-center-nowrap">{{ _('Dictionary name') }}</th>
            <th scope="col" class="td-center-nowrap"></th>
            <th scope="col" class="td-center-nowrap"></th>
            <th scope="col" class="td-center-nowrap">{{ _('Language') }}</th>
            <th scope="col" class="td-center-nowrap">{{ _('Links') }}</th>
          </tr>
          </thead>

          {% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
          {% for resource in resources %}
            {% if resource.get('is_data_dictionary') == 'yes' %}
              {% snippet 'package/snippets/data_dictionary_item.html', pkg=pkg, res=resource, res_num=loop.index, client_lang=client_lang, can_edit=can_edit %}
            {% endif %}
          {% endfor %}

        </table>
      </section>
    {% endif %}

    {% if has_tutorials %}
	  <br><br>
      <section class="mrgn-tp-lg">
        <table class="table table-striped resource-list">
          <caption class="wb-inv">{{ _('Tutorial list table') }}</caption>
          <thead>
            <tr>
              <th scope="col" class="td-center-nowrap">{{ _('Tutorial name') }}</th>
              <th scope="col" class="td-center-nowrap"></th>
              <th scope="col" class="td-center-nowrap"></th>
              <th scope="col" class="td-center-nowrap">{{ _('Language') }}</th>
              <th scope="col" class="td-center-nowrap">{{ _('Links') }}</th>
            </tr>
          </thead>

        {% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
        {% for resource in resources %}
          {% if resource.get('is_tutorial') == 'yes' %}
            {% snippet 'package/snippets/tutorial_item.html', pkg=pkg, res=resource, res_num=loop.index, client_lang=client_lang, can_edit=can_edit %}
          {% endif %}
        {% endfor %}

        </table>
		<br><br>
      </section>
    {% endif %}

{% else %}
  <p>
    {# Comment out "add some" as action doesn't exist yet #}
    {% trans url=h.url_for(controller='dataset', action='resources', id=pkg.name) %}
      <p class="empty">This dataset has no data, <a href="{{ url }}">why not add some?</a>
    {% endtrans %}
  </p>
{% endif %}
{% endblock %}
<!--template/package/resource_list.html end-->
