{# Used to insert the home icon into a breadcrumb #}
{% if h.lang() == 'en' %}
<li><a href="https://www.canada.ca/en.html">Home</a></li>
<li><a href="https://www.asc-csa.gc.ca/eng/Default.asp"> {{ _('Canadian Space Agency') }}</a></li>
<li id="wb-cont"><a href="/en">CSA Open Data</a></li>
{% else %}
<li><a href="https://www.canada.ca/fr.html">Accueil</a></li>
<li><a href="https://www.asc-csa.gc.ca/fra/Default.asp">Agence spatiale canadienne</a></li>
<li id="wb-cont"><a href="/fr/dataset">ASC Données ouvertes</a></li>
{% endif %}