<!--template/snippets/home_breadcrumb.html start-->
{% set pkg = c.pkg_dict %}
{% set res = c.resource %}
{# Used to insert the home icon into a breadcrumb #}
{% if h.lang() == 'en' %}
<li><a href="https://www.canada.ca/en.html">Canada.ca</a></li>
<li><a href="https://www.asc-csa.gc.ca/eng/Default.asp">Canadian Space Agency</a></li>
<li id="wb-cont"><a href="/en">Open Government</a></li>
{% if pkg %}
    <li>{{ h.dataset_display_name(pkg) }}</li>
{% endif %}
{% else %}
<li><a href="https://www.canada.ca/fr.html">Canada.ca</a></li>
<li><a href="https://www.asc-csa.gc.ca/fra/Default.asp">Agence spatiale canadienne</a></li>
<li id="wb-cont"><a href="/fr/dataset">Gouvernement ouvert</a></li>
{% if pkg %}
    <li>{{ h.dataset_display_name(pkg) }}</li>
{% endif %}
{% endif %}
<!--template/snippets/home_breadcrumb.html end-->
